.page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    --leftWidth: 30vw;
    --rightWidth: 17vw;
    --rightWidthChange: 5vw;
    --animationDuration: 0.5s;
    display: grid;
    grid-template-columns: var(--leftWidth) var(--rightWidth);
    background-color: rgba(var(--CardBackground), 1);
    border-radius: var(--BorderRadius);
    box-shadow: var(--CardShadow);
    overflow: hidden;
    height: 40vh;
}

/* Left side design and animations */
.left {
    background-color: transparent;
    padding: var(--CardPadding);
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid.notReversed .left {
    animation: leftSideSwitchToNormal var(--animationDuration) ease-in-out forwards;
}

@keyframes leftSideSwitchToNormal {
    0% { transform: translateX(var(--rightWidth)); }
    100% { transform: translateX(0); }
}

.grid.reversed .left {
    animation: leftSideSwitch var(--animationDuration) ease-in-out forwards;
}

@keyframes leftSideSwitch {
    0% { transform: translateX(0); }
    100% { transform: translateX(var(--rightWidth)); }
}

/* Right side design and animations */
.right {
    background-color: rgba(var(--PrimaryColor), 1);
    z-index: 2;
    display: grid;
    align-items: center;
    justify-content: center;
}

.grid.notReversed .right {
    animation: rightSideSwitchToNormal var(--animationDuration) ease-in-out forwards;
}

@keyframes rightSideSwitchToNormal {
    0% {
        transform: translateX(calc(-1 * var(--leftWidth)));
        width: var(--rightWidth);
    }
    50% {
        width: calc(var(--rightWidth) + var(--rightWidthChange));
    }
    100% {
        transform: translateX(0);
        width: var(--rightWidth);
    }
}

.grid.reversed .right {
    animation: rightSideSwitch var(--animationDuration) ease-in-out forwards;
}

@keyframes rightSideSwitch {
    0% {
        transform: translateX(0);
        width: var(--rightWidth);
    }
    50% {
        width: calc(var(--rightWidth) + var(--rightWidthChange));
    }
    100% {
        transform: translateX(calc(-1 * var(--leftWidth)));
        width: var(--rightWidth);
    }
}