:root {
  --Background: 244, 244, 244;
  --CardBackground: 255, 255, 255;

  --NavbarHeight: 60px;
  --CardPadding: 20px;
  --CardShadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --BorderRadius: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: rgba(var(--Background), 1);
}

.card {
  background-color: rgba(var(--CardBackground), 1);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: var(--CardPadding);
  border-radius: var(--BorderRadius);
}