:root {
  --Background: 244, 244, 244;
  --CardBackground: 255, 255, 255;
  --PrimaryColor: 61, 141, 122;
  --SecondaryColor: 179, 216, 168;
  --DarkGray: 125, 130, 120;

  --NavbarHeight: 60px;
  --NavbarMargin: 10px;
  --InputHeight: 40px;
  --CardPadding: 20px;
  --CardShadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --BorderRadius: 5px;

  /* animations */
  --DialogAnimation: 400ms;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: rgba(var(--Background), 1);
}

/* ------------------------------------------------------------------------------------------------------ Gaps */
.spacer-h-xs { height: 5px; }
.spacer-h-s { height: 10px; }
.spacer-h-m { height: 15px; }

/* ------------------------------------------------------------------------------------------------------ Width and Hight */
.w-full { width: 100% !important; }

.card {
  background-color: rgba(var(--CardBackground), 1);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: var(--CardPadding);
  border-radius: var(--BorderRadius);
}

.big-title {
  font-size: 28px;
  font-weight: 600;
  color: rgba(var(--PrimaryColor), 1);
}

.title {
  font-size: 22px;
  font-weight: 500;
}