.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    margin-top: calc(-1 * (var(--NavbarHeight) + 2 * var(--NavbarMargin)));
}

.content {
    overflow-y: auto; 
    overflow-x: hidden;
    height: calc(100vh - var(--NavbarHeight) - 2 * var(--NavbarMargin));
    margin-top: calc(var(--NavbarHeight) + 2 * var(--NavbarMargin));
}

.contentWhenHiddenNavbar {
    height: 100vh;
    margin-top: 0;
}