.page {
    height: 100%;
    padding: 10px 20px 20px 20px;
}

.descriptionPage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descriptionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.descriptionTitle {
    font-size: 32px;
    font-weight: 600;
}

.descriptionButton {
    width: 60%;
}

.resultsPage {
    width: 100%;
}

.results {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 14px;
    width: 100%;
}

/* Dialog */
.searchWrapper {
    display: grid;
    grid-template-columns: 1.5fr 2px 2fr;
    gap: 20px;
}

.divider {
    background-color: rgba(var(--DarkGray), 0.25);
    height: 100%;
    width: 100%;
}

.rightWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}